header_height = 40px

button
  cursor pointer

body
  background #090119
  width 100%
  overflow-x hidden
  color #444
  font-family 'Work Sans', sans-serif
  font-weight 100
  margin 2px
  overflow-y scroll
  padding-top header_height

.header
  position fixed
  display flex
  justify-content space-between
  top 0
  left 0
  width: 100vw
  background #090119
  padding: 0 10px 0 12px
  z-index 100
  box-shadow rgba(0, 0, 0, 0.3) 0 1px 5px
  .buttonContainer
    display flex
    margin-right 10px
  h1, a, .contactButton, button
    display inline-block
    margin 0
    color #efe899
    font-size 20px
    line-height header_height
    text-transform uppercase
  a
    font-weight bold
    float right
  a:hover
    color #ddd
  .contactButton
    float right
  button
    border 0
    background #090119
    font-family 'Work Sans', sans-serif
    font-weight bold
a
  color #c00
  text-decoration none

.modal
  font-weight 400
  margin 20px

.modal-content-wrapper
  display block
  position relative
  padding-bottom 56.25%
  padding-bottom calc(56.25% + 26px)
  height 0
  overflow hidden
  img
    width 100%
    object-fit cover
  iframe
    position absolute
    top 0
    left 0
    width 100%
    height 100%
