card_margin = 2px

.card
  cursor pointer
  transition all 500ms

  .content
    position absolute
    top card_margin
    bottom card_margin
    left card_margin
    right card_margin
    background-size cover
    background-position center
    //box-shadow rgba(0, 0, 0, 0.4) 0 1px 3px
    transition all 300ms

  .content:hover h2
    opacity 1

  h2
    position absolute
    bottom 0
    left 30px
    right 0
    margin 0
    padding 10px
    color #333
    font-size 13px
    opacity 0
    transition 0.5s
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  h3
    margin 0
    padding 10px
    color #ffff77
    background #2d0d6d
    font-size 13px
    position absolute
    bottom 0
    left 0

  &.instagram
    cursor default
  &:hover
    transition all 0ms
    background #2d0d6d
    &.instagram
      background none
    h2
      color #ffff77
      background #2d0d6d

.card:last-of-type
  margin-bottom 50px
  