.modalOpen
  position fixed
  width 100vw
  height 100vh
  background rgba(0, 0, 0, 0.5)
  top 0
  left 0
  display flex
  justify-content center
  align-itemes center

.modalClosed
  display none

.contactModal
  margin-top 10vh
  background #fff
  height 30vh
  width 30vw
  border-radius 3px
  position relative
  max-width 800px
  width 80vw
  height 80vh

.contactModalCloseButton
  position absolute
  right 0
  top 0

.contactModalContent
  color #000