.modalOpen
  position fixed
  width 100vw
  height 100vh
  background rgba(0, 0, 0, 0.5)
  top 0
  left 0
  display flex
  justify-content center
  align-itemes center

.modalClosed
  display none

.contactModal
  margin-top 10vh
  background #fff
  height 30vh
  width 30vw
  border-radius 3px
  position relative
  width 90vw
  max-width 500px
  height 80vh

.contactForm
  color black
  display flex
  justify-content space-around
  flex-direction column
  height 80vh

.contactInput
  width 80%
  margin-left 10%
  font-size 1.5rem
  border 2px solid black

label
  margin-left 10%
  font-weight bold

.submitButton
  width 80%
  background #2d0d6d
  color #fff
  margin-left 10%
  font-size 2rem


#message
  height 50%

.contactModalCloseButton
  position absolute
  width 3rem
  right 0
  top 0

.ContactModalContent
  color #000

h2
  color #000000
  margin-top 50%
  text-align center