.modalOpen
  position fixed
  width 100vw
  height 100vh
  background rgba(0, 0, 0, 0.5)
  top 0
  left 0
  display flex
  justify-content center
  align-itemes center

.modalClosed
  display none

.contactModal
  margin-top 10vh
  background #fff
  height 30vh
  width 30vw
  border-radius 25px
  position relative
  width 90vw
  max-width 500px
  height 80vh

.contactForm
  color black
  display flex
  justify-content space-around
  flex-direction column
  height 80vh

.contactInput
  width 80%
  align-self center
  font-size 1rem
  border 1px solid #ddd
  border-radius 25px
  background #eee

label
  margin-left 10%
  font-weight bold
  font-size 1rem

textarea
  resize none
  font-size 1rem

.submitButton
  background #fff
  color #2d0d6d
  font-size 1rem
  align-self center
  width 169px
  border none
  border-radius 5px
  cursor pointer

#message
  height 50%

.contactModalCloseButton
  position absolute
  width 3rem
  right 0
  top 0
  cursor pointer
  border-radius 25px
  background #fff !important
  color #2d0d6d !important

.ContactModalContent
  color #000

.contactSentMessage
  color #000000
  text-align center