<!DOCTYPE html>
<html>
  <head>
    <script>
      if (!location.href.includes('localhost') && location.protocol != 'https:'){
        location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22167910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-22167910-1');
    </script>
    <meta charset="utf-8">
    <title>NAGZ - Musiconpurpose.net</title>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:100,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
    <script type="text/javascript">
      (function(){
          emailjs.init("user_upn8DFyjAWzeGFFmZfY7X");
      })();
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:site_name" content="Musiconpurpose"/>
    <meta property="og:title" content="Musiconpurpose" />
    <meta property="og:url" content="https://musiconpurpose.net" />
    <meta property="og:description" content="Music, design, visuals and everything between." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://i.ibb.co/4SwWDdn/Screen-Shot-2019-06-19-at-22-00-22.png" />

    <link rel="icon" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="icon" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144.png">
    <link rel="manifest" href="/favicon/manifest.json">
  
  </head>
  <body>
    <div id="application"></div>
  </body>
</html>
